<footer class="footer">
    <div class = "f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/abhijit.surve.1441?mibextid=ZbWKwL"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/abhi_surve2412?igsh=YXlnam92cXVwczNv"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/abhijitsurve/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class = "f-info-brand">&copy;RentHome Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms and Conditions</a>
        </div>
    </div>
</footer>